{% extends "base.jinja2" %}

{% set features = ["deploy.fastboot", "boot.fastboot", "test.docker.definition.git", "test.definition.inline"] %}

{% set device_type = device_type|default("dragonboard-410c") %}
{% set job_name = job_name|default("dragonboard-410c - health-check") %}
{% set job_timeout = job_timeout|default(5400) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 40
    to: fastboot
    docker:
        local: true
        image: lavalabteam/adb-fastboot
    images:
      boot:
        url: http://images.validation.linaro.org/releases.linaro.org/96boards/dragonboard410c/linaro/debian/18.01/boot-linaro-buster-dragonboard-410c-359.img.gz
        compression: gz
      rootfs:
        url: http://images.validation.linaro.org/releases.linaro.org/96boards/dragonboard410c/linaro/debian/18.01/linaro-buster-developer-dragonboard-410c-359.img.gz
        compression: gz
        apply-overlay: true
    os: debian
- command:
    name: pre_power_command
    timeout:
          minutes: 2
- boot:
    prompts:
    - 'root@(.*):/#'
    - 'root@linaro-developer:~#'
    timeout:
      minutes: 15
    method: fastboot
    docker:
        local: true
        image: lavalabteam/adb-fastboot
- command:
    name: pre_os_command
    timeout:
          minutes: 2
- test:
    timeout:
      minutes: 5
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: lava-net-tests
          description: "check helpers"
          os:
          - debian
          scope:
          - functional
        run:
          steps:
          - lava-test-case linux-posix-ifup --shell "ifconfig `nmcli device status | grep enx | cut -d' ' -f 1` up"
          - lava-test-case linux-posix-wait-for-if --shell 'C=20; while [ $C -gt 0 ]; do nmcli device status | grep enx | grep connected; if [ $? -eq 0 ]; then break; else C=$((C-1)); sleep 1; fi; done; if [ $C -eq 0 ]; then lava-test-raise "Network not coming up; job exit"; fi'
          - lava-target-mac
          - lava-target-ip
          - lava-test-case linux-posix-ip-addresses --shell ip addr
          - lava-test-case linux-posix-routes --shell ip route
          - lava-test-case linux-posix-ping --shell 'ping -c 2 8.8.8.8 || lava-test-raise "Network not able to ping; job exit"'
          - lava-test-case proxy --shell echo $http_proxy
          - curl --insecure -o /dev/null -L http://archive.validation.linaro.org || lava-test-raise "artifactorial not available; job exit"
          - lava-test-case artifactorial-up --result pass
      from: inline
      name: lava-net-tests
      path: inline/lava-net-test.yaml
- test:
    docker:
        local: true
        image: lavalabteam/adb-fastboot
    timeout:
      minutes: 5
    definitions:
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-basic.yaml
      name: smoke-tests-docker
{% endblock actions %}
