{% extends "base.jinja2" %}

{% set features = ["deploy.tmpfs", "boot.pyocd", "test.monitors"] %}

{% set device_type = device_type|default("frdm-kw41z") %}
{% set job_name = job_name|default("frdm-kw41z - health-check") %}
{% set job_timeout = job_timeout|default(360) %}

{% block action_timeouts %}
  action:
    minutes: 3
  actions:
    wait-usb-device:
      seconds: 40
{% endblock action_timeouts %}

{% block actions %}
- deploy:
    timeout:
      minutes: 3
    to: tmpfs
    images:
        zephyr:
            url: http://images.validation.linaro.org/snapshots.linaro.org/components/kernel/zephyr/master/zephyr/frdm_kw41z/737/tests/kernel/libs/test/zephyr.bin
- boot:
    method: pyocd
    timeout:
      minutes: 3
- test:
    monitors:
    - name: tests
      start: BOOTING ZEPHYR
      end: PROJECT EXECUTION SUCCESSFUL
      pattern: '(?P<test_case_id>.*) (?P<measurement>.*) tcs = [0-9]* nsec'
      fixupdict:
        PASS: pass
        FAIL: fail
{% endblock actions %}
