{% extends "base.jinja2" %}

{% set features = ["deploy.tmpfs", "boot.qemu"] %}

{% set device_type = device_type|default("qemu-arm") %}
{% set job_name = job_name|default("qemu-arm - health-check") %}
{% set job_timeout = job_timeout|default(900) %}

{% block context %}
context:
  arch: aarch64
  machine: virt-2.10,accel=kvm
  cpu: host
  netdevice: user
  extra_options:
  - '-smp'
  - '1'
  - '-global'
  - 'virtio-blk-device.scsi=off'
  - '-device virtio-scsi-device,id=scsi'
  - '--append "console=ttyAMA0 root=/dev/vda rw"'
{% endblock context %}

{% block actions %}
- deploy:
    timeout:
      minutes: 5
    to: tmpfs
    images:
      kernel:
        image_arg: -kernel {kernel}
        url: http://images.validation.linaro.org/snapshots.linaro.org/components/lava/standard/debian/sid/arm64/2/vmlinuz-4.6.0-1-arm64
      initrd:
        image_arg: -initrd {initrd}
        url: http://images.validation.linaro.org/snapshots.linaro.org/components/lava/standard/debian/sid/arm64/2/initrd.img-4.6.0-1-arm64
    os: debian
- boot:
    method: qemu
    media: tmpfs
    timeout:
      minutes: 10
    prompts:
    # escape the brackets to ensure that the prompt does not match
    # kernel debug lines which may mention initramfs
    - '\(initramfs\)'
{% endblock actions %}
