{% extends "base.jinja2" %}

{% set features = ["deploy.u-boot-ums", "boot.u-boot.ums", "test.definition.git"] %}

{% set device_type = device_type|default("sun8i-h2-plus-bananapi-m2-zero") %}
{% set job_name = job_name|default("sun8i-h2-plus-bananapi-m2-zero - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 5
    to: u-boot-ums
    os: oe
    image:
      url: http://images.validation.linaro.org/people.linaro.org/~vishal.bhoj/t2.img
      root_partition: 1
- boot:
    method: u-boot
    commands: ums
    prompts:
      - '/ #'
    timeout:
      minutes: 6
- test:
    timeout:
      minutes: 2
    definitions:
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-basic.yaml
      name: smoke-tests-basic-debian
{% endblock actions %}
