{% extends "base.jinja2" %}

{% set features = ["deploy.flasher", "boot.bootloader.u-boot", "test.interactive"] %}

{% set device_type = device_type|default("x15-bl") %}
{% set job_name = job_name|default("x15-bl - health-check") %}
{% set job_timeout = job_timeout|default(1200) %}

{% block actions %}
- deploy:
    namespace: target
    timeout:
      minutes: 10
    to: flasher
    images:
      image:
        url: http://images.validation.linaro.org/snapshots.linaro.org/components/kernel/u-boot/55/x15-u-boot-sd-55.img.gz
        compression: gz
- boot:
    namespace: target
    prompts:
    - =>
    - root@(.*):[/~]#
    timeout:
      minutes: 1
    method: bootloader
    bootloader: u-boot
    commands: []
- test:
    namespace: target
    timeout:
      minutes: 10
    interactive:
    - name: basic-cmds
      prompts: ['=> ', '/ # ']
      script:
      - command: echo "u-boot echo test"
        name: echo
        successes:
        - message: u-boot echo test
      - command: version
        name: version
        successes:
        - message: 2020.01-00613-gd7bb6aceb2
      - command: help test
        name: help
        successes:
        - message: test - minimal test like /bin/sh
      # saveenv and printenv
      - command: setenv test_var test123printenv
      - command: printenv
        name: setenv-and-printenv
        successes:
        - message: test_var=test123
    - name: memory-test
      prompts: ['=> ', '/ # ']
      script:
      # memory test
      # base - print or set address offset
      - command: base
        name: print-default-base-address-offset
        successes:
        - message: 'Base Address: 0x'
      - command: base 80000000
        name: set-address-offset-0x80000000
        successes:
        - message: 'Base Address: 0x80000000'
      - command: base
        name: check-address-offset-0x80000000
        successes:
        - message: 'Base Address: 0x80000000'
      # crc32 - checksum calculation
      - command: mw.b 00000000 aa 400
      - command: crc 80000000 400
        name: compute-CRC32-checksum
        successes:
        - message: crc32 for 80000000 ... 800003ff ==> 3c6f327d
      # mw - memory write
      # md - memory display
      - command: mw 100000 aabbccdd 10
      - command: md 100000 10
        name: mw-md-100000
        successes:
        - message: aabbccdd
      # md - memory display
      # cp - memory copy
      - command: cp 100000 200000 10
      - command: md 200000 10
        name: cp-md-200000
        successes:
        - message: aabbccdd
      # cmp - memory compare
      - command: cmp 100000 200000 10
        name: cmp-100000-200000-10
        successes:
        - message: Total of 16 word\(s\) were the same
    - name: dhcp-cmds
      prompts: ['=> ', '/ # ']
      script:
      # dhcp
      - command: setenv autoload no ; dhcp
        name: dhcp
        successes:
        - message: DHCP client bound to address
{% endblock actions %}
