{% extends "base.jinja2" %}

{% set features = ["deploy.tftp", "boot.ipxe.nfs", "test.definition.inline"] %}

{% set device_type = device_type|default("x86") %}
{% set job_name = job_name|default("x86 - health-check") %}
{% set job_timeout = job_timeout|default(1800) %}


{% block actions %}
- deploy:
    timeout:
      minutes: 20
    to: tftp
    kernel:
      url: http://images.validation.linaro.org/snapshots.linaro.org/openembedded/lkft/morty/intel-core2-32/rpb/linux-stable-4.14/4/bzImage--4.14+git0+bebc6082da-r0-intel-core2-32-20171120193339-4.bin
    nfsrootfs:
      url: http://images.validation.linaro.org/snapshots.linaro.org/openembedded/lkft/morty/intel-core2-32/rpb/linux-stable-4.14/4/rpb-console-image-intel-core2-32-20171120193339-4.rootfs.tar.xz
      compression: xz
    os: oe
- boot:
    timeout:
      minutes: 8
    method: ipxe
    commands: nfs
    parameters:
      shutdown-message: "reboot: Restarting system"
    auto_login:
      login_prompt: 'login:'
      username: root
      login_commands:
        - su
    prompts:
    - 'root@intel-core2-32:'
- test:
    timeout:
      minutes: 2
    definitions:
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-net.yaml
      name: smoke-tests-net
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-basic.yaml
      name: smoke-tests
{% endblock actions %}
