<!doctype html>{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static "lavafed/css/bootstrap-v4.2.1.min.css" %}">
  <link rel="stylesheet" href="{% static "lavafed/css/fontawesome-v5.4.1.min.css" %}">
  <style>
    body > .container {
      padding: 30px 15px 0;
    }
    {% block style %}{% endblock style %}
  </style>
  <title>lavafed{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="https://federation.lavasoftware.org"><i class="fab fa-trade-federation"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsToggle" aria-controls="navbarsToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsToggle">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block nav_home %}{% endblock %}">
          <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block nav_device_types %}{% endblock %}">
          <a class="nav-link" href="{% url "device_types" %}">Device-types</a>
        </li>
        <li class="nav-item {% block nav_labs %}{% endblock %}">
          <a class="nav-link" href="{% url "labs" %}">Labs</a>
        </li>
        <li class="nav-item {% block nav_versions %}{% endblock %}">
          <a class="nav-link" href="{% url "versions" %}">Versions</a>
        </li>
      </ul>
      <ul class="navbar-nav navabar-right">
        <li class="nav-item">
          <a class="nav-link">{{ lavafed.version }}</a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container">
  {% block body %}{% endblock body %}
  </main>

  <script src="{% static "lavafed/js/jquery-v3.4.1.slim.min.js" %}"></script>
  <script src="{% static "lavafed/js/popper-v1.14.6.min.js" %}"></script>
  <script src="{% static "lavafed/js/bootstrap-v4.2.1.min.js" %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
