{% extends 'lavafed/base.html' %}
{% load features %}

{% block title %} - version - {{ version.version }}{% endblock %}

{% block nav_versions %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Jobs</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>name</th>
              <th>description</th>
              <th>result</th>
            </tr>
          </thead>
          <tbody>
            {% for feature in global_features %}
            {% feature_results feature version as feature_jobs %}
            <tr>
              <td>{{ feature.name }}</td>
              <td>{{ feature.description }}</td>
              <td>
              {% for job in feature_jobs %}
                {% if job.health == job.HEALTH_UNKNOWN %}
                <i class="text-secondary far fa-question-circle" title="{{ job.name }}"></i>
                {% elif job.health == job.HEALTH_COMPLETE %}
                <i class=" text-success fas fa-check-circle" title="{{ job.name }}"></i>
                {% elif job.health == job.HEALTH_INCOMPLETE %}
                <i class="text-danger fas fa-exclamation-circle" title="{{ job.name }}"></i>
                {% else %}
                <i class="text-warning fas fa-ban" title="{{ job.name }}">
                {% endif %}
              {% endfor %}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td><i>...</i></td>
              <td><i>...</i></td>
              <td><i>...</i></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>name</th>
              <th>deploy</th>
              <th>boot</th>
              <th>test</th>
            </tr>
          </thead>
          <tbody>
            {% for dt in dts %}
            {% features dt version True "Device" "Deploy" as deploy_features_pass %}
            {% features dt version True "Device" "Boot" as boot_features_pass %}
            {% features dt version True "Device" "Test" as test_features_pass %}
            {% features dt version False "Device" "Deploy" as deploy_features_fail %}
            {% features dt version False "Device" "Boot" as boot_features_fail %}
            {% features dt version False "Device" "Test" as test_features_fail %}
            <tr>
              <td>{{ dt.name }}</td>
              <td>{% if deploy_features_pass %}
                    <i class=" text-success fas fa-check-circle"></i> {% for f in deploy_features_pass %}<abbr title="{{ f.description }}">{{ f.name|slice:"7:" }}</abbr>{% if not forloop.last %}, {% endif %}{% endfor %}<br />
                  {% endif %}{% if deploy_features_fail %}
                    <i class=" text-danger fas fa-exclamation-circle"></i> {% for f in deploy_features_fail %}<abbr title="{{ f.description }}">{{ f.name|slice:"7:" }}</abbr>{% if not forloop.last %}, {% endif %}{% endfor %}
                  {% endif %}{% if not deploy_features_pass and not deploy_features_fail %}<i>...</i>{% endif %}</td>
              <td>{% if boot_features_pass %}
                    <i class=" text-success fas fa-check-circle"></i> {% for f in boot_features_pass %}<abbr title="{{ f.description }}">{{ f.name|slice:"5:" }}</abbr>{% if not forloop.last %}, {% endif %}{% endfor %}<br />
                  {% endif %}{% if boot_features_fail %}
                    <i class=" text-danger fas fa-exclamation-circle"></i> {% for f in boot_features_fail %}<abbr title="{{ f.description }}">{{ f.name|slice:"5:" }}</abbr>{% if not forloop.last %}, {% endif %}{% endfor %}
                  {% endif %}{% if not boot_features_pass and not boot_features_fail %}<i>...</i>{% endif %}</td>
              <td>{% if test_features_pass %}
                    <i class=" text-success fas fa-check-circle"></i> {% for f in test_features_pass %}<abbr title="{{ f.description }}">{{ f.name|slice:"5:" }}</abbr>{% if not forloop.last %}, {% endif %}{% endfor %}<br />
                  {% endif %}{% if test_features_fail %}
                    <i class=" text-danger fas fa-exclamation-circle"></i> {% for f in test_features_fail %}<abbr title="{{ f.description }}">{{ f.name|slice:"5:" }}</abbr>{% if not forloop.last %}, {% endif %}{% endfor %}
                  {% endif %}{% if not test_features_pass and not test_features_fail %}<i>...</i>{% endif %}</td>
            </tr>
            {% empty %}
            <tr>
              <td><i>...</i></td>
              <td><i>...</i></td>
              <td><i>...</i></td>
              <td><i>...</i></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>type</th>
              <th>name</th>
              <th>lab</th>
              <th>arch</th>
              <th>type</th>
              <th>health</th>
            </tr>
          </thead>
          <tbody>
            {% for job in global_jobs %}
            <tr>
              <td><a href="{% url "device_types.show" job.dt.name %}">{{ job.dt.name }}</a></td>
              <td>{{ job.name }}{% if job.url %} <a href="{{ job.url }}"><i class="fas fa-link"></i></a>{% endif %}</td>
              <td><a href="{% url "labs.show" job.lab.name %}">{{ job.lab.name }}</a></td>
              <td>{{ job.get_arch_display }}</td>
              <td>{{ job.get_type_display }}</td>
              <td title="{{ job.get_health_display }}">
                {% if job.get_health_display == "Unknown" %}
                <i class="text-secondary far fa-question-circle"></i>
                {% elif job.get_health_display == "Complete" %}
                <i class=" text-success fas fa-check-circle"></i>
                {% elif job.get_health_display == "Incomplete" %}
                <i class="text-danger fas fa-exclamation-circle"></i>
                {% else %}
                <i class="text-warning fas fa-ban"></i>
                {% endif %}
              </td>
            </tr>
            {% empty %}
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>type</th>
              <th>name</th>
              <th>lab</th>
              <th>arch</th>
              <th>health</th>
            </tr>
          </thead>
          <tbody>
            {% for job in device_jobs %}
            <tr>
              <td><a href="{% url "device_types.show" job.dt.name %}">{{ job.dt.name }}</a></td>
              <td>{{ job.name }}{% if job.url %} <a href="{{ job.url }}"><i class="fas fa-link"></i></a>{% endif %}</td>
              <td><a href="{% url "labs.show" job.lab.name %}">{{ job.lab.name }}</a></td>
              <td>{{ job.get_arch_display }}</td>
              <td title="{{ job.get_health_display }}">
                {% if job.get_health_display == "Unknown" %}
                <i class="text-secondary far fa-question-circle"></i>
                {% elif job.get_health_display == "Complete" %}
                <i class=" text-success fas fa-check-circle"></i>
                {% elif job.get_health_display == "Incomplete" %}
                <i class="text-danger fas fa-exclamation-circle"></i>
                {% else %}
                <i class="text-warning fas fa-ban"></i>
                {% endif %}
              </td>
            </tr>
            {% empty %}
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
